In [1]:
# indexing and slicing of lists are the same as in strings

a = ["sam", "teddy", "alice", 2, 3 , 4]

print(a[3])
print(a[2])
print(a[1:4])

2
alice
['teddy', 'alice', 2]

In [2]:
# concatonation of lists works in the same way as in strings
b = ["earth", "mars", "venus"]
print(a + b)

['sam', 'teddy', 'alice', 2, 3, 4, 'earth', 'mars', 'venus']

In [3]:
# unlike strings, lists are mutable. ie we can switch the entries of a list by using a temp variable.

c = [1, 2, 3, 4]
# to change the 2nd element of the list, we can just change assign it a new value
c[1] = "new value"
print(c)

[1, 'new value', 3, 4]

In [4]:
popped_item = c.pop()

In [5]:
popped_item

4

In [6]:
c

[1, 'new value', 3]

In [7]:
# to remove any entry of the list, pass the index in .pop()
b.pop(1)     # when we pop an item, jupyter nb returns that item.

'mars'

In [8]:
b

['earth', 'venus']

In [9]:
letter_list = ["a", "d", "p", "z"]
num_list = [20, 1, 100, 9, 49]

In [10]:
# to sort letter_list in alphabetical order, use .sort() function
letter_list.sort()  # when we run this, it dosent return anythin. 
# since it dosent return anythin when run, we cant do new_list = letter_list.sort() as there is nothing to assign

In [11]:
letter_list

['a', 'd', 'p', 'z']

In [12]:
num_list.sort()
# to sort the numbers in ascendin order.

In [13]:
num_list

[1, 9, 20, 49, 100]

In [14]:
# .reverse() is used to reverce all the entries in the list.
num_list.reverse()

In [15]:
num_list

[100, 49, 20, 9, 1]

In [1]:
l1 = ["a", "b", "c"]
x = l1.pop(0)

In [2]:
x

'a'

In [3]:
l1

['b', 'c']

In [6]:
# programme used to store the names of all cats:

my_cats = []

while True:
    print("enter the name of cat " + str(len(my_cats)+ 1) + " or enter nothing to stop: ")
    name = input()
    if name == "":
        break
    my_cats = my_cats + [name]   # list concatonation
    
print("my cats are:")
for ele in my_cats:
    print(ele)

enter the name of cat 1 or enter nothing to stop:

my cats are:

In [8]:
cat_list = []

while True:
    name = input("write name of cat " + str(len(cat_list)+1) + " here and write end it to stop")
    if name == "end it":
        break
    cat_list += [name]
    
print("the name cats are:")
for ele in cat_list:
    print(ele)

write name of cat 1 here and write end it to stopsam
write name of cat 2 here and write end it to stopbob
write name of cat 3 here and write end it to stoptod
write name of cat 4 here and write end it to stopend it
the name cats are:
sam
bob
tod

so we can use a list to store the names of many similar values.

In [9]:
cities = []

while True:
    name = input("write your favorite city here: ") 
    if name == "chennai":
        break
    print("chennai sucks")
    cities += [name]
    
for ele in cities:
    print(ele)

write your favorite city here: bangalore
chennai sucks
write your favorite city here: kolkata
chennai sucks
write your favorite city here: chennai
bangalore
kolkata

In [14]:
kids = ["abby", "bob", "cathy"]


for ele in range(len(kids)):
    name = input("enter the kids name here: ")
    if name not in kids:                              # not in keyword
        print("i dont have that kid")
    else:
        print("i got it")

enter the kids name here: abby
i got it
enter the kids name here: cody
i dont have that kid
enter the kids name here: d
i dont have that kid

### Multiple Assignment Trick

allows us to assign multiple variables with the values inside a list in one line of code.

In [15]:
# lenghty way:
cat = ["black", "big", "stupid"]

colour = cat[0]
size = cat[1]
intelligence = cat[2]

In [16]:
# instead :

cat = ["white", "small", "smart"]

colour, size, intelligence = cat

In [17]:
colour

'white'

In [18]:
size

'small'

In [19]:
intelligence

'smart'

In [20]:
# the .index() method is used on a list and is used to find the index position of any values inside a list.
listt = ["a", "b", "c", "d", "e"]

listt.index("a")

0

In [21]:
number = listt.index("d")

In [22]:
number

3

In [23]:
listt.append("f")  # this dosent return any value.

In [24]:
listt

['a', 'b', 'c', 'd', 'e', 'f']

In [26]:
del listt[2]

In [27]:
listt

['a', 'b', 'd', 'e', 'f']

In [28]:
# we can make a list extend upto multiple lines for convinience if the values inside the list are large:

sentance_list = ["hi how are you",
                "when will i see you again",
                "what are you doing today",
                "what is your name?"]

In [29]:
sentance_list

['hi how are you',
 'when will i see you again',
 'what are you doing today',
 'what is your name?']

In [30]:
sentance_list[2]

'what are you doing today'

In [31]:
# if we have only one value inside a tuple, write is as:

my_tuple = ("teddy",)

# if we dont use the comma in the end, python will treat my_tuple as a string inside () which is a string.

In [32]:
type(my_tuple)

tuple

In [34]:
x = ("teddy")

In [35]:
type(x)

str

In [36]:
tuple(listt)

('a', 'b', 'd', 'e', 'f')